<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href='/static/styles.css' />
    <link rel="icon" type="image/x-icon" href="/Images/spinCat.ico">
    <title>Canes</title>
</head>
<body>
<img src="">
    <table class="results">
            <tr>
                <th>First</th>
                <th>Last</th>
            </tr>
        <tbody>
            {% for player in players %}
            <tr>
                <td>{{ player.first }}</td>
                <td>{{ player.last }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
<img class="sideImg" style="right:0" src="Images\giphy.gif" alt="Funny Gif">
<img class="sideImg" style="left:0" src="Images\maxwell-maxwell-spin.gif" alt="Funny Gif">
</body>
<script>
    setInterval(() => { location.reload();}, 10000); // Reloads the page every 10 seconds (its in milli)
</script>
</html>
